.promo {

    &__slide {
        color: var(--color-text-light);
        background-color: var(--color-BG);
        background: url(./../images/bg-for-slide.png) 50% 70% no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;



    }

    &__pre-title {
        background-color: var(--color-accent);
        margin-bottom: px-to-rem(16);
        padding: px-to-rem(8) px-to-rem(10) px-to-rem(6);
        text-transform: uppercase;
    }

    &__title {
        font-size: px-to-rem(20);
        line-height: px-to-rem(34);
        margin-bottom: px-to-rem(20);
        max-width: px-to-rem(514);

        @include for-xs {
            font-size: px-to-rem(40);
        }

        @include for-sm {
            font-size: px-to-rem(60);
            line-height: px-to-rem(48);
            margin-bottom: px-to-rem(34);
        }
    }

    &__text {
        line-height: px-to-rem(24);
        max-width: px-to-rem(600);
    }

    &__conatainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: px-to-rem(62) px-to-rem(10);

        @include for-lg {
            padding: px-to-rem(62) px-to-rem(80);
        }
    }
}