.service {
    font-size: px-to-rem(13);
    border-bottom: 1px solid var(--color-line);

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // width: px-to-rem(212);
        flex: 1 1 auto;
        padding: px-to-rem(36) px-to-rem(16) px-to-rem(46);
        border: 1px solid var(--color-text-light);
        // border-right: 1px solid var(--color-text-light);

        &:hover {
            background-color: lighten($colorLine, 7%);
            border: 1px solid var(--color-line);
            // border-right: 1px solid var(--color-line);
        }
    }

    &__img {
        --size-img: px-to-rem(20);
        min-width: var(--size-img);
        min-height: var(--size-img);
        margin-right: px-to-rem(14);
    }
}