.slider{
    color: var(--color-text-light);
    position: relative;
    max-height: px-to-rem(446);
    background-color: var(--color-BG);
    background: url(./../images/bg-for-slide.png) 50% no-repeat;


    @include for-md{
        background-size: cover;
        background-position: 50% 80%;
    }
    &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: px-to-rem(62) px-to-rem(10); 
        
        @include for-lg{
            padding: px-to-rem(62) px-to-rem(80); 
        }
    }
    &__pre-title{
        background-color: var(--color-accent);
        margin-bottom: px-to-rem(16);   
        padding: px-to-rem(8) px-to-rem(10) px-to-rem(6);
        text-transform: uppercase;
    }
    &__title{
        font-size: px-to-rem(20);
        line-height: px-to-rem(34);
        margin-bottom: px-to-rem(20);
        max-width: px-to-rem(514);
        @include for-xs{
            font-size: px-to-rem(40);
        }
        @include for-sm{
            font-size: px-to-rem(60);
            line-height: px-to-rem(48);
            margin-bottom: px-to-rem(34);
        }
    }
    &__text{
        line-height: px-to-rem(24);
        max-width: px-to-rem(600);
    }
    &__indicators{
        position: absolute;
        bottom: px-to-rem(28);
        left: 50%;
        transform: translateX(-50%);
        width: px-to-rem(115);
        display: flex;
        justify-content: space-between;
        --size-ind: #{px-to-rem(10)};
        height: var(--size-ind);
        li{
            width: var(--size-ind);
            height: var(--size-ind);
            border: 1px solid var(--color-line);
            &.slider__ind_active{
                border: 1px solid var(--color-accent);
                background-color: var(--color-accent);
            }
            &:hover{
                background-color: rgba( $colorLine, .5);
                
            }
        }
    }
}