* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

li {
    list-style: none;
}

.container{
    margin: auto;
    width: auto;
    @include for-sm{
        width: px-to-rem(540);
    }
    @include for-md{
        width: px-to-rem(720);
    }
    @include for-lg{
        width: px-to-rem(948);
    }
    // @include for-xl{
    //     max-width: px-to-rem(1140);
    // }
    // @include for-xl{
    //     max-width: px-to-rem(1320);
    // }
    
    
}




